@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FFFFFF;
  min-height: 100%;
}

body {
  font-family: "Gotham Rounded", sans-serif;
  color: #4f2d1d;
  font-size: 1rem;
  text-transform: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
